# Copyright 2023 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

private_endpoint_prefix = "<ENTER_VALUE>"

# ------- Cloud Settings -------
azure_region = "<ENTER_VALUE>" # Change this to specify Cloud Provider region, e.g. eastus

resourcegroup_name                      = "<ENTER_VALUE>"
nfs_file_share_name                     = "<ENTER_VALUE>"
nfs_file_share_size                     = <ENTER_VALUE>
nfs_private_endpoint_target_subnet_names = ["<ENTER_VALUE>", "<ENTER_VALUE>"]
vnet_name                               = "<ENTER_VALUE>"
nfs_storage_account_name                = "<ENTER_VALUE>"
nfsvm_public_ip_name                    = "<ENTER_VALUE>"
nfsvm_nic_name                          = "<ENTER_VALUE>"
nfsvm_sg_name                           = <ENTER_VALUE>
nfs_vnet_link_name                      = "<ENTER_VALUE>"
nfsvm_name                              = "<ENTER_VALUE>"
public_key_text                         = "<ENTER_VALUE>"
source_address_prefixes                 = ["<ENTER_VALUE>", "<ENTER_VALUE>"]